@{
    ViewBag.Title = "Home Page";
}

<div style="height:10px;">

</div>
<div>
    <div style="margin-left:33px;display:inline-block;">
        <img src="~/Images/chev.jpg" />
    </div>
    <div style="height:10px;">
        
    </div>
    <div style="display:inline-block;">
        <ul>
            <li>
                <em>Project by:</em>
            </li>
            <li>Nitin Nayyar</li>
            <li>Enamul Haider</li>
            <li>Akshay</li>
            <li>Aninditya</li>
        </ul>

    </div>
</div>
